# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/
*.log

# Virtual environments
.venv/
venv/
env/
ENV/

# Database
*.db
*.sqlite
*.sqlite3

# Generated folders and model
images/
exports/
models/face_model.yml

# OS junk
.DS_Store
Thumbs.db

# IDE – IntelliJ / PyCharm
.idea/
*.iml
out/
gen/

# AL (Dynamics 365) – if you use it
.vscode/
.alcache/
.alpackages/
.snapshots/
.output/
*.app
rad.json
*.g.xlf
*.flf
TestResults.xml

# Actionscript / Flash – if you use it
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/
.settings/
*.swf
*.air
*.ipa
*.apk

# Ada – if you use it
*.o
*.al